
.pagination {
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.current-page {
  margin: 0 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.pagination button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background: #ff0000;
  transition: all 0.2s ease-in-out;
}

.pagination button:hover {
  background: #b30000;
}

.pagination button i {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
